@{
    ViewBag.Title = "LoginFalse";
    Layout = "~/Views/BTBNsGear/BTBNsGearStore.cshtml";
}

<div style="text-align:center; margin-top:50px;">
    <h1>Chúc mừng bạn đã đặt mua sản phẩm thành công!</h1>
    <span>Hãy chuẩn bị số tiền tương ứng để sẵn sàng nhận hàng nhé!</span><br/>
    Bấm vào <a href="/Home/TrangChu" style="text-decoration:none;">đây</a> để trở lại trang chủ
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
