
@{
    ViewBag.Title = "LoginFalse";
    Layout = "~/Views/BTBNsGear/BTBNsGearStore.cshtml";
}

    <div style="text-align:center; margin-top:50px;">
        <h1>Sai thông tin đăng nhập!</h1>
        Bạn đã điền sai thông tin đăng nhập là tài khoản hoặc mật khẩu!<br/>
        Hãy điền lại chính xác!
    </div>
<br/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

